@import url('https://fonts.googleapis.com/css2?family=Anton&family=Oswald:wght@300;400;700&family=Poppins:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #FFEDD5;
    display: flex;
    justify-content: center;
    min-height: 600px;
    padding: 20px;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 1200px;
    align-self: center;
}

.card {
    border: 4px double #F4A261;
    text-align: center;
    background: #F59C4A;
    box-shadow: 5px 5px 20px 5px rgba(33, 32, 32, 0.2);
    border-radius: 15px;
    padding: 24px;
    flex: 1 1 280px;
    max-width: 320px;
    max-height: 640px;
    height: 640px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 30px 0;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    align-self: center;
    border-radius: 10px;
    width: 95%;
    height: 300px;
    object-fit: cover;
    margin: 10px 5px;
    transition: border 0.3s ease;
}

.card img:hover {
    border: 5.2px solid #FF5733;
    transform: scale(0.98);
}

.card h3 {
    color: #4A148C;
    font-size: 20px;
    margin: 5px 4px 5px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.card p {
    color: #333;
    font-size: 16px;
    margin: 4px 2px 20px;
    letter-spacing: 0.2px;
}

button {
    cursor: pointer;
    padding: 10px 40px;
    background: #5E60CE;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;
    display: block;
    margin: 1px auto;
    transition: background 0.3s ease, transform 0.2s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
}

button:hover {
    background: #3A0CA3;
    transform: scale(1.05);
}
